<h1>Add a Job</h1>


<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" />
        <span></span>
    </div>

    <div class="form-group">
        <label>Select employer:</label>

        @if (ViewBag.Employers.Count == 0)
        {
<p style="color:red;">No jobs yet!</p>}
else
{
<select name="employer">

    @foreach (Employer employer in ViewBag.Employers)
    {
<option value="@employer.Name">@employer.Name</option>}
</select>}

        <a href="/employer/add">Add employer.</a>
        <span></span>
    </div>

    <div class="form-group">
        <label>Select Skills:</label>

        @if (ViewBag.Skills.Count == 0)
        {
<p style="color:red;">No Skills yet!</p>}
else
{

@foreach (Skill skill in ViewBag.Skills)
{

<input type="checkbox" name="selectedSkills" value="@skill.Id" />
                    <label>@skill.Name</label>}}
        <br />
        <a href="/skill/add">Add skill.</a>
        <span></span>
    </div>


    <input type="submit" value="Add Job" />
</form>

